@import "../../global";

.inputDiv {
  margin-bottom: 10px;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input,
  textarea {
    width: 100%;
    font-family: "DM Sans", sans-serif;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 6px;
    color: $textColor;
    font-size: 20px;
    &:focus {
      border: none;
      outline: 0;
      & + .line {
        width: 100%;
      }
    }
  }

  .line {
    width: 0;
    height: 2px;
    background-color: $yellow;
    transition: width 0.6s ease-in-out;
  }
}
