@import "../../global";

@mixin button {
  width: 160px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  color: black;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color ease-in-out 0.1s;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    width: 150px;
  }
  .arrow {
    font-size: 34px;
    height: 34px;
  }
}

.outline {
  @include button;
  background-color: transparent;
  border: 2px solid $yellow;
}

.fill {
  @include button;
  background-color: $yellow;
  margin-right: 10px;
}
