@import "../../global";

.glassHeader {
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: rgba(white, 0.1);
    backdrop-filter: blur(40px);
    background-clip: padding-box;
    z-index: 2;
    padding: 10px;
    margin-bottom: 10px;
    h1{
        color: $textColor;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    p{
        font-size: 18px;
        color: $textColor;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
        text-align: justify;
    }
}