@import "../../App.less";

.about{
    color: @color1;
    margin-top: 40px;
    .title{
        margin: 20px 0;
        h1{
            font-weight: normal;
        }
    }
    .skills{
        margin: 20px 0;
        h3{
            text-align: center;
        }
    }
}